{% extends "base.html" %} {% block content %} 
{% load static %}
<section
	class="flex flex-col gap-10 md:gap-6 justify-center mt-14 text-center items-center h-screen bg-[url('/staticfiles/images/main_bg.svg')] bg-no-repeat bg-cover pt-4 snap-always snap-start"
>
	<h1 class="text-4xl font-bold text-white">We Rise By Lifting Others</h1>
	<p class="text-2xl font-semibold text-white md:w-1/2">
		Through digital technology, we are here to address your issues on a global
		scale and improve your quality of life.
	</p>
	<a
		class="animate-bounce ring-1 ring-white hover:ring-2 hover:animate-none py-2 px-4 rounded-lg text-lg font-semibold text-white hover:scale-105 duration-500"
		href="/contact_us"
	>
		Contact Us
	</a>
</section>
{% include "parts/_services.html" %}
{% include "parts/_how_do_it.html" %}
{% include "parts/_why_choose_us_1.html" %}
<section class="snap-always snap-center">
	{% include "parts/_call_to_action.html" %}
</section>
{% endblock %} 
