{% extends "app/base.html" %} {% block content %}

<div class="relative top-20 p-4">
  <section class="flex justify-between h-dvh">
    <div class="flex flex-col gap-y-10 justify-start items-start py-28 px-8">
      <h1 class="text-4xl font-bold text-secondary">
        We Rise By Lifting Others
      </h1>
      <p class="text-2xl">
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <button
        class="bg-cyan-900 py-2 px-4 rounded-lg text-lg font-semibold text-white hover:scale-105 duration-500"
      >
        Contact Us
      </button>
    </div>

    <img
      src="static/images/landing_img.png"
      alt="Landing Image"
      class="w-3/4 h-4/5"
    />
  </section>
</div>
<section class="h-dvh flex justify-between bg-primary">
  <img src="static/images/page_stack.png" alt="page stack" srcset="" />

  <div class="py-28 flex flex-col justify-between items-start">
    <h1 class="block text-6xl font-bold text-white">We Build Websites</h1>
    <h1 class="block text-7xl font-bold text-secondary">Websites</h1>
    <h1 class="block text-6xl font-bold text-white">That Build Your</h1>
    <h1 class="block text-7xl font-bold text-white">Business</h1>
    <button
      class="px-10 py-2 rounded-md border-2 border-secondary text-lg font-bold hover:scale-105 duration-500 ease-out"
    >
      Get started
    </button>
  </div>
</section>

<section class="h-dvh">
  <div class="p-20 flex">
    <div class="flex flex-col gap-y-10 items-start">
      <h1 class="text-6xl font-bold text-secondary">
        Got any Idea for your next app
      </h1>
      <button
        class="bg-primary rounded-md px-6 py-2 font-bold text-white hover:scale-105 duration-500 ease-out"
      >
        Get Started
      </button>
    </div>

    <img src="static/images/mobile_development.svg" alt="" class="" />
  </div>
</section>

<section class="h-dvh flex bg-gradient-to-br from-[#FC4A1A] to-[#F7B733]">
  <img src="static/images/social_media_alt.svg" alt="Marketing" />
  <div class="flex flex-col justify-center items-start gap-y-6 py-4">
    <h1 class="text-6xl text-white font-bold">
      Smart Marketing for your Business
    </h1>
    <button
      class="bg-white rounded-md px-4 py-2 font-bold text-lg text-primary"
    >
      Start Marketing now
    </button>
  </div>
</section>

{% endblock %}
