{% load static %}
<section
	class="h-[72rem] w-full bg-indigo-500 lg:bg-white snap-normal flex flex-col bg-top-right justify-start pt-40 md:pt-64 snap-end bg-[url('/staticfiles/images/modified_bg.svg')] bg-no-repeat"
>
	<div class="flex flex-col justify-start items-center gap-4 p-4">
		<h1
			class="text-center text-2xl font-bold text-white lg:text-black md:h-1/2"
		>
			Excellent Software Development Services at your disposal
		</h1>

		<button
			class="hidden text-lg font-bold hover:ring-1 hover:scale-105 hover:bg-white hover:text-primary duration-300 ring-primary bg-primary text-white px-4 py-1 rounded-lg"
		>
			Get started
		</button>
	</div>
</section>

<section
	class="snap-normal snap-end px-4 relative -top-[52rem] md:-top-[48rem]"
>
	<div class="grid grid-cols-1 gap-4 place-items-center md:grid-cols-3">
		<div
			class="flex flex-col bg-white items-center justify-between max-w-96 rounded-2xl shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/switch.svg'%} alt="" class='h-36'/>
			<h1 class="text-lg font-medium text-secondary">Custom Softwares</h1>
			<p class="text-sm text-center">
				We build custom Software that fits your bussines needs.
			</p>
		</div>
		<div
			class="flex-col flex justify-between items-center max-w-96 rounded-2xl items-center bg-white shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/undraw_mobile_app.svg'%} alt="" class='h-36'
			srcset="">
			<h1 class="text-lg font-medium text-secondary">Mobile Applications</h1>
			<p class="text-sm text-center">
				We Design and Develop Android and IOS Applications
			</p>
		</div>
		<div
			class="flex-col flex justify-between items-center max-w-96 rounded-2xl items-center bg-white shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/web_responsive.svg'%} alt="" class='h-36'
			srcset="">
			<h1 class="text-lg font-medium text-secondary">Web Applications</h1>
			<p class="text-sm text-center">
				We Design and Develop Responisive Websites and Web Applications
			</p>
		</div>
		<div
			class="flex-col flex justify-between items-center max-w-96 rounded-2xl items-center bg-white shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/web_responsive.svg'%} alt="" class='h-36'
			srcset="">
			<h1 class="text-lg font-medium text-secondary">Graphic Designs</h1>
			<p class="text-sm text-center">
				We Design Websites, Applications, Logos and banners. We also do full
				<b>Branding</b>
			</p>
		</div>
		<div
			class="flex-col flex justify-between items-center max-w-96 rounded-2xl items-center bg-white shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/credit_card_payment.svg'%} alt="" class='h-36'
			srcset="">
			<h1 class="text-lg font-medium text-secondary">Integrations</h1>
			<p class="text-sm text-center">
				We integrate third party services to your existing system. E.g
				<b>SMS</b> and <b>Payment Systems</b> integrations
			</p>
		</div>
		<div
			class="flex-col flex justify-between items-center max-w-96 rounded-2xl items-center bg-white shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/cart.svg'%} alt="" class='h-36' srcset="">
			<h1 class="text-lg font-medium text-secondary">E-Commerce Solutions</h1>
			<p class="text-sm text-center">
				We Develope and integrate online shopping platforms to your system.
			</p>
		</div>
		<div
			class="flex-col flex justify-between items-center max-w-96 rounded-2xl items-center bg-white shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/undraw_digital_nomad.svg'%} alt="" class='h-36'
			srcset="">
			<h1 class="text-lg font-medium text-secondary">Digital Marketing</h1>
			<p class="text-sm text-center">
				Get your bussines to larger audiences with our Marketing Solutions
			</p>
		</div>
		<div
			class="flex-col flex justify-between items-center max-w-96 rounded-2xl items-center bg-white shadow-xl p-4 py-12 hover:scale-105 duration-300 ease-out"
		>
			<img src={%static 'images/erp.svg'%} alt="" class='h-36' srcset="">
			<h1 class="text-lg font-medium text-secondary">ERP Solutions</h1>
			<p class="text-sm text-center">
				We develope and integrate ERP solutions for any bussines sizes.
			</p>
		</div>
	</div>
</section>
