<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{%load compress%} {% load static %}
<html class="prevent-select scroll-smooth h-screen snap-y snap-mandatory overflow-y-auto light">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Adero Technologies</title>
    <meta
      name="description"
      content="Aderoo Tech is an East African internet company headquartered in Addis Ababa, Ethiopia. This organisation encompasses the entirety of the digital realm and all things online-related. From completing passport applications to large scale Softwares, Aderoo technology encompasses everything digital and online."
    />
    
    <link rel="apple-touch-icon" sizes="180x180" href={%static "images/fav/apple-touch-icon.png"%}>
    <link rel="icon" type="image/png" sizes="32x32" href={%static "images/fav/favicon-32x32.png"%}>
    <link rel="icon" type="image/png" sizes="16x16" href={%static "images/fav/favicon-16x16.png"%}>
    <link rel="manifest" href={%static "images/fav/site.webmanifest"%}>
    <link rel="mask-icon" href={%static "images/fav/safari-pinned-tab.svg"%} color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {%compress css%}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    {%endcompress%}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    
    <style>
      .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
    </style>
  </head>
  <body class="mt-0 ml-0 pt-18 h-screen snap-y snap-mandatory overflow-y-auto overflow-x-hidden" id="body" style="display:none">
    
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    {% block header %}
    
    {% include "parts/_header.html" %}

    {% endblock header %}

    {% block content %}

    <section class="h-dvh flex justify-center items-center">

      <h1 class="text-6xl font-bold">Working on it...</h1>

    </section>
    {% endblock content %}
    
    {% block footer %}

    {% include "parts/_footer.html" %}

    {% endblock footer %}

    {% block script %}  
    <script src={%static 'js/index.js'%} async defer></script>
    <script type="text/javascript">
      
      window.onload = function () {
          setTimeout(function() {
              document.getElementById("body").style.display = "";        
          }, 300);
      }
  </script>
    {% endblock script %}
  </body>
</html>
