<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{%load compress%} {% load static %}
<html class="scroll-smooth bg-transparant">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Adero Technologies</title>
    <meta
      name="description"
      content="Aderoo Tech is an East African internet company headquartered in Addis Ababa, Ethiopia. This organisation encompasses the entirety of the digital realm and all things online-related. From completing passport applications to large scale Softwares, Aderoo technology encompasses everything digital and online."
    />
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/fav/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}

  </head>
  <body class="mt-0 ml-0 pt-20" id="body" style="display:none">
    <script type="text/javascript">
      window.onload = function () {
          setTimeout(function() {
              document.getElementById("body").style.display = "";        
          }, 200);
      }
  </script>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <header
      class="px-4 py-1 flex width-full border-b border-black items-center justify-evenly fixed top-0 left-0 right-0 backdrop-blur-sm z-50"
    >
      <img src="static/adero_logo.svg" alt="adero_logo" class="w-44 h-16" />
      <ul class="flex grow gap-x-10 ml-12 items-baseline justify-center">
        <li>
          <a href="#"
            ><span
              class="text-secondary font-semibold text-xl hover:text-primary visited:text-primary duration-300 ease-out"
            ></span
          ></a>
        </li>
        <li>
          <a href="/"
            ><span
              class="text-secondary font-semibold text-2xl hover:text-primary visited:text-primary duration-300 ease-out"
              >Home</span
            ></a
          >
        </li>
        <li>
          <a href="#"
            ><span
              class="text-secondary font-semibold text-2xl hover:text-primary visited:text-primary duration-300 ease-out"
              >Services</span
            ></a
          >
        </li>
        <li>
          <a href="/about"
            ><span
              class="text-secondary font-semibold text-2xl hover:text-primary visited:text-primary duration-300 ease-out"
              >About</span
            ></a
          >
        </li>
        <li>
          <a href="/career"
            ><span
              class="text-secondary font-semibold text-2xl hover:text-primary visited:text-primary duration-300 ease-out"
              >Career</span
            ></a
          >
        </li>
        <li>
          <a href="/faq"
            ><span
              class="text-secondary font-semibold text-2xl hover:text-primary visited:text-primary duration-300 ease-out"
              >FAQ</span
            ></a
          >
        </li>
      </ul>
      <button
        class="border border-primary border-2 rounded-2xl px-6 py-2 font-bold text-secondary text-xl hover:bg-primary duration-700 hover:text-white hover:scale-105"
      >
        Talk to us
      </button>
    </header>
    {% block content %}

    <section class="h-dvh flex justify-center items-center">

      <h1 class="text-6xl font-bold">Working on it...</h1>

    </section>
    
    
    {% endblock content %}
    <footer class="border-t border-black">
      <div class="flex justify-around p-4">
        <div class="flex flex-col justify-between w-96">
          <img src="static/adero_logo.svg" alt="logo" class="w-44 h-16" />
          <p>
            Aderoo Tech Company is committed to the principle that we can only progress by empowering others. Through digital technology, we are here to address your issues on a global scale and improve your quality of life.
          </p>
        </div>
        <div class="">
          <h2 class="font-bold text-secondary">Our Services</h2>
          <ul>
            <li><a href="#">Applictaion Development</a></li>
            <li><a href="#">Testing and QA</a></li>
            <li><a href="#">Online Jobs</a></li>
            <li><a href="#">Canada Visa Processing</a></li>
          </ul>
        </div>

        <div class="">
          <h2 class="font-bold text-secondary">Useful Links</h2>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="">
          <h2 class="font-bold text-secondary">Contact Information</h2>
          <ul>
            <li><a href="#">+251927272727</a></li>
            <li><a href="#">contact@aderotech.et</li>
            <li><a href="#">Bole,Addis Ababa,Ethiopia</a></li>
          </ul>
        </div>
      </div>
      <div class="flex justify-center">
        <h1 class="font-semibold text-secondary">©2024 AderoTech</h1>
      </div>
    </footer>
    
    <script src="" async defer></script>
  </body>
</html>
